# Default ignored files
/shelf/
/workspace.xml
/resources/
application.yaml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/main/resources/application.yaml
# Editor-based HTTP Client requests
/httpRequests/
/target/
